文件名包含中文，Safari浏览器下载乱码

已知会乱码的浏览器：iOS Safari 和 macOS Safari
简单起见，只写核心复现代码了（理论上其他非ASCII文字也会乱码）

```go
func Download(c *ship.Context) error {
	return c.Attachment("/path/to/file/汉字名字.png", "")
}
```

一般是在设置`Content-Disposition`时使用 `filename*` 
```go
c.SetRespHeader(ship.HeaderContentDisposition, "attachment; filename*=utf-8''"+url.QueryEscape("汉字名字.png"))
```

参考链接：[https://developer.mozilla.org/zh-CN/docs/Web/HTTP/Headers/Content-Disposition](https://developer.mozilla.org/zh-CN/docs/Web/HTTP/Headers/Content-Disposition)

对于 Header，原则上应当只使用 ASCII 字符，但对于 UTF-8 字符来说，应该没太大的问题。

我测试了一下，代码如下：
```go
// 代码运行在 Windows 10 系统上，本地 IP 为 10.224.224.203
//
// 本地有一个文件，名为 测试.txt，内容为 中文内容
package main

import "github.com/xgfone/ship/v5"

func main() {
	s := ship.New()
	s.Route("/download").GET(func(c *ship.Context) error {
		return c.Attachment("测试.txt", "")
	})
	ship.StartServer(":8080", s)
}
```

#### 1、CMD 终端
```cmd
C:\Users\xgf> curl.exe -i http://127.0.0.1:8080/download
HTTP/1.1 200 OK
Accept-Ranges: bytes
Content-Disposition: attachment; filename="测试.txt"
Content-Length: 13
Content-Type: text/plain; charset=utf-8
Last-Modified: Thu, 30 Dec 2021 02:29:33 GMT
Date: Thu, 30 Dec 2021 02:31:02 GMT

中文内容
```

#### 2、PowerShell 终端
```powershell
PS C:\Users\xgf> curl.exe -i http://127.0.0.1:8080/download
HTTP/1.1 200 OK
Accept-Ranges: bytes
Content-Disposition: attachment; filename="测试.txt"
Content-Length: 13
Content-Type: text/plain; charset=utf-8
Last-Modified: Thu, 30 Dec 2021 02:29:33 GMT
Date: Thu, 30 Dec 2021 02:31:18 GMT

中文内容
```

#### 3、Git Bash on Windows
```bash
~$ curl -i http://127.0.0.1:8080/download
HTTP/1.1 200 OK
Accept-Ranges: bytes
Content-Disposition: attachment; filename="娴嬭瘯.txt"
Content-Length: 13
Content-Type: text/plain; charset=utf-8
Last-Modified: Thu, 30 Dec 2021 02:29:33 GMT
Date: Thu, 30 Dec 2021 02:33:55 GMT

中文内容
```
**说明：** 这是通过 `mingw64` 运行在 Windows 上 Git，其终端在编码上会有些差异，导致编码不兼容。

#### 4、Debian 10 on WSL
```bash
xgf@xgf$ curl -i http://10.224.224.203:8080/download
HTTP/1.1 200 OK
Accept-Ranges: bytes
Content-Disposition: attachment; filename="测试.txt"
Content-Length: 13
Content-Type: text/plain; charset=utf-8
Last-Modified: Thu, 30 Dec 2021 02:29:33 GMT        
Date: Thu, 30 Dec 2021 02:34:48 GMT

中文内容
```

#### 5、Windows Edge（Chromium）96.0.1054.62
打开浏览器，访问 `http://127.0.0.1:8080/download`，能自动下载并保存为文件，且 **文件名为 `测试.txt`，未出现乱码** 。

#### 6、Windows Firefox 95.0.2
打开浏览器，访问 `http://127.0.0.1:8080/download`，能自动下载并保存为文件，且 **文件名为 `测试.txt`，未出现乱码** 。

#### 7、Mac X OS Safari
在 Mac X OS 系统上打开 Safari 浏览器，访问 `http://10.224.224.203:8080/download`，能自动下载并保存为文件，且 **文件名为 `测试.txt`，未出现乱码** 。

#### 8、iOS Safari
在 iPhone上打开 Safari 浏览器，访问 `http://10.224.224.203:8080/download`，能自动下载并保存为文件，且 **文件名为 `测试.txt`，未出现乱码** 。

**说明：** 
2. 根据上述测试结果来看，无论是终端还是浏览器，只要能识别 UTF-8 编码的，都不会出现乱码。
3. 对于 `filename*=UTF-8`，可以设置，但我的理解是：对于现代浏览器，都已能准确识别 UTF-8，且在 `Content-Type` 中已经设置 `charset=utf-8`，可以不用设置。
4. 根据您的描述，HTTP Server 和 Safari Browser 都在 Mac OS 上，由于我的 MacBook 暂不在身边，未测试这种情况。对于这种情况，稍后再测试一下。

对于 XP、Win7 等系统以及旧的浏览器（如 IE10、IE11 等）暂未测试，不过，如果旧系统或浏览器不能识别 UTF-8，可以明确指定 `filename`，大致代码如下：
```go
downloadedFile := "/path/to/filename.txt"
filename := url.QueryEscape(filepath.Base(downloadedFile))
ship.Context.Attachment(downloadedFile, filename)
```

你那边iOS复现不出来？我放张乱码图片吧，后端复制下面的代码：
```go
package main

import "github.com/xgfone/ship/v5"

func main() {
	s := ship.New()
	s.Route("/download").GET(func(c *ship.Context) error {
		return c.Attachment("测试.txt", "")
	})
	ship.StartServer(":8080", s)
}
```
同样在iOS下，Safari弹下载提示框乱码，下载到本地仍乱码
![safari](https://user-images.githubusercontent.com/76583642/147720338-a720e412-dc0b-443d-aa93-75f3fc231720.jpg)

iOS 微信直接打开正常
![wechat](https://user-images.githubusercontent.com/76583642/147720382-ad1e8c9f-1ee3-4f7b-a48a-1ed56f6e155a.jpg)





经测试：
1. 在 macOS 中，所有浏览器和终端都 **未出现乱码** 。
2. 在 Android 中，浏览器 **未出现乱码** 。
3. 在 iOS 中，safari 和 微信 都 **出现乱码** 。

经查阅网上文档，大意说是 iOS 对 `filename` 字段会严格按照 `ISO-8859-1` 字符集进行处理。

为了避免 iOS 中的文件名乱码情况，所以，将 `filename=` 改为 `filename*=utf-8''` 模式。

**现已修复，请使用 `v5.1.3+` 版本。**

`Content-Disposition` 最初是被 MIME 中使用，后来被引入到 HTTP （RFC 2616）中，但当时 RFC 2616 并不是正式标准，而浏览器对 `filename` 的编码支持不并统一，主要有两种：
- IE 支持在 `filename` 中直接使用百分号编码：`filename="$encoded_text"`（并非 MIME 编码！）。而且 IE 还会 **自动** 对这样的文件名进行解码——前提是该文件名必须有一个不会被编码的（即 ASCII）后缀名！
- 其他一些浏览器则支持一种更为粗暴的方式：允许在 `filename="TEXT"` 中直接使用 `UTF-8` 编码的字符串！这也是直接违反了 RFC 2616 HTTP 头必须是 ASCII 编码的规定。**注：这也是上面样例中为什么能直接使用 UTF-8 的原因。**

2010 年 RFC 5987 发布，正式规定了 `parameter*=charset'lang'value` 格式来支持多语言编码：
- `charset` 和 `lang` 不区分大小写。
- `lang` 是用来标注字段的语言，以供读屏软件朗诵或根据语言特性进行特殊渲染，可以留空。
- `value` 根据 RFC 3986 Section 2.1 使用 **百分号编码**，并且规定浏览器 **至少应该支持 `ASCII` 和 `UTF-8`** 。
- 当 `parameter` 和 `parameter*` 同时出现在 HTTP 头中时，浏览器应当使用后者。

2011 年 RFC 6266 发布，正式将 `Content-Disposition` 纳入标准，并强调使用 RFC 5987 规定的多语言编码。

为了兼容 IE 和 新标准，`Content-Disposition` 可以使用如下方式：
```
Content-Disposition: attachment;
                     filename="%E6%B5%8B%E8%AF%95.txt";
                     filename*=utf-8''%E6%B5%8B%E8%AF%95.txt
```
但由于 IE 是已经被淘汰了，所以，当前实现仅使用 `filename*=utf-8''` 方式来支持 non-ASCII 字符。